@media (max-width:720px) {

    header {

        width:100%;
        background-image: none;
    }

    .header-logo {

        text-align: center;
    }

    .header-tittle,
    .header-text {

        width:90%;
        text-align: center;
    }
}