@media (max-width:762px) {

    .yourteam-link-apple-google {

        display:flex;
    }
}

@media (max-width: 1024px) {

    .users-case:nth-child(2) {
      display: none;
    }
}

@media (max-width: 1172px) {

    .users-case:nth-child(5) {
      display: none;
    }
}

@media (max-width:1300px) {

    .users-case:nth-child(3) {
        display:none;
    }
}

/* --------------- Mobile version ----------- */

/* ------------- header --------------- */
@media (max-width:720px) {

    header {

        background-image: none;
        height:50%;
    }

    .header-inner {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-logo {

        text-align: center;
    }

    .header-tittle,
    .header-text {

        width:90%;
        text-align: center;
    }
    .header-link-apple-google {

        width: 30%;
        display: flex;
        justify-content: center;
        
    }

    .header-link-apple-google a {

        padding-right:1em;
    }
}

/* --------------- ronaldo ------------------- */

@media (max-width:720px) {

    .container-ronaldo {

        flex-direction: column-reverse;
    }

    .container-experience {

        text-align: center;
        width: 100%;
        padding-left:20px;
        padding-right:20px;
    }

    .experience-text {

        width:100%;
    }

    .picture-ronaldo {

        width:100%;
    }
}

/* ------------------ Interface ----------------- */

@media (max-width:720px) {

    .container-interface {

        background-image: none;
        text-align:center;
        justify-content: center;
    }

    .inner-interface {

        padding-top:2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .interface-text {

        text-align: center;
        width:90%;
    }

    .image-interface-for-phone {

        display:flex;
        width:50%;
        justify-content: center;
    }
}

/* -------------------- Features ----------------------- */

@media (max-width:720px) {

    .container-features {

        background-image: none;
        background-color: #fafafa;
    }

    .features-grid {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }

    .features-tittle,
    .features-case p {

        color: #4f4f4f;
    }

    div .features-case path {

        fill:#00ADEE;
    }
}

/* ---------------------- Users ---------------------------- */

@media (max-width:720px) {

    .users-case:nth-child(6),
    .left-arrow-users {
        display:none;
    }

    .users-case {

        width: 60%;
    }

    .users-reviews {

        justify-content: center;
    }

    .right-arrow-users {

        margin-left:-11%;
    }
}

/* -------------------------- Partners -------------------------- */

@media (max-width:720px) {

    .partners-logo {

        width: 100%;
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}

/* -------------------------- Yourteam --------------------------- */

@media (max-width:720px) {

    .container-yourteam {

        flex-direction: column;
        justify-content: center;
    }

    .picture-yourteam {

        display:none;
    }

    .content-yourteam {

        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin:0px;
        padding:60px 0 0 0;
        width:100%;

    }

    .yourteam-tittle {

        text-align: center;
        width:100%;
        padding:0 10px 0 10px;
    }

    .yourteam-text {

        text-align: center;
        width:100%;
        padding:0 20px 0 20px;
    }
    
    .yourteam-link-apple-google {

        text-align: center;
        justify-content: center;
        margin-bottom:1em;
    }

    .image-interface-for-phone {

        display:flex;
        width:100%;
        justify-content: center;
    }
}

/* --------------------- footer ----------------------- */

@media (max-width:720px) {

    .footer-inner {

        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-navigation {

        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top:1em;
    }

    .navigation-menu {

        width: 100%;
        justify-content: flex-start;
        margin-top: 2em;
    }

    .navigation-menu a {

        padding-right:1em;
    }
}

/* ---------------- end mobile version ----------------- */


@media (max-width:900px) {

    .navigation-menu a {

        padding-right:1em;
    }
}


@media (max-width:1166px) {

    .picture-yourteam {

        background-size: 100% 100%;
    }
}


@media (max-width:375px) {

    .yourteam-link-apple-google {

        display:flex;
        justify-content: center;
    }
}


@media (max-width:1000px) {

    .partners-logo {

        flex-wrap: wrap;
        justify-content: space-around;
    }
}