header {

    width: 100%;
    height:auto;
    background-image: url(./images/background_header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color:#F4F6F9;
}

.container-header,
.info-interface {

    max-width: 1195px;
    padding: 0 20px;
    margin: 0 auto;
}

.header-inner {

    padding: 61px 0 154px 0;
}

.header-logo {

    margin: 0 0 133px 0;
}

.header-tittle,
.experience-tittle,
.interface-tittle,
.yourteam-tittle {
    
    font-family: 'Lato';
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #333333;
}

.header-tittle {

    font-size: 36px;
    width: 48%;
    margin-bottom: 30px;
}

.header-text {

    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    width: 40%;
    margin-bottom: 50px;
}

.header-link-apple-google {

    width: 30%;
    display: flex;
    justify-content: space-between;
}

/* ------------container-ronaldo ------------------- */

.container-experience {

    height:auto;
    width:100%;
    display: flex;
}

.picture-ronaldo {


    height:auto;
    width:60%;
    background: linear-gradient(
        270deg,
        #ffffff 5.16%,
        rgba(255, 255, 255, 0) 67.14%
      ),
      rgba(255, 255, 255, 0.5) url(./images/background_ronaldo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    position: relative;
}

.info-ronaldo {

    display:flex;
    width:80%;
    height: 70%;
}

.images-ronaldo {

    width:80%;
    margin-top:3em;
    height:auto;
}

.image-arsenal-chelsea {
    position: relative;
    width: 70%;
    z-index: 2;
    left: 0%;
    top: 0%;
}

.video-arsenal-chelsea {
    position: relative;
    width: 60%;
    z-index: 1;
    left: 28%;
    bottom: 23%;
}

.content-experience {

    width:40%;
    padding: 120px 0 60px 0;
}

.experience-tittle,
.interface-tittle,
.yourteam-tittle {

    font-size: 28px;
    margin-top:27px;
    margin-bottom:27px;
    
}

.experience-text {

    width:85%;
}

.experience-text,
.interface-text,
.yourteam-text {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    margin-bottom:27px;
}

.experience-link,
.interface-link {

    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.31em;
    color: #00adee;
}

/* --------------- Interface ------------------- */

.container-interface {

    width: 100%;
    min-height:45em;
    background-image: url(./images/background_interface.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-position: center center;
}

.inner-interface {

    padding: 200px 0 60px 0;
}

.interface-text {

    width:40%;
}

.image-interface-for-phone,
.image-yourteam-for-phone {

    display:none;
}

/* --------------- Features ------------------- */

.container-features {

    width:100%;
    height:auto;
    background-image: url(./images/background_blue.png);
}   

.features-inner {

    max-width: 1195px;
    margin: 0 auto;
    padding: 0 15px;
}

.features-tittle {

    color:#fff;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    padding: 80px 0 50px 0;
}

.features-grid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 90px;
    row-gap: 40px;
}

.features-case p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

.features-case p::before {
    content: "•";
}

/* ---------------- Users ---------------- */

.container-users {

    width:100%;
    height:auto;
    background-color: #fff;
}

.users-inner {

    padding:60px 0 20px 0;
    background-color: #fff;
}

.users-tittle,
.partners-tittle {

    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
}

.users-reviews {

    display:flex;
    justify-content:space-around;
    margin-top:60px;
}

.dots-reviews {

    text-align: center;
    margin:60px 0 20px 0;
    cursor: pointer;
}

.left-arrow-users,
.right-arrow-users {

    position: absolute;
    align-self: center;
    cursor: pointer;
}

.left-arrow-users {

    padding-right:82%;
}

.right-arrow-users {

    padding-left:82%;
}

/* ------------------ partners ---------------------- */

.container-partners {

    width:100%;
    height:auto;
    background-color: #FAFAFA;
}

.partners-inner {

    padding:60px 50px 60px 50px;
}

.partners-logo {

    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top:80px;
}

.partners-logo a:hover {

    opacity: .5;
}

/* ------------------ Yourteam --------------------- */

.container-yourteam {

    height: auto;
    width: 100%;
    background-color: #fff;
    display:flex;
}

.picture-yourteam {

    width:50%;
    height:auto;
    background-image: url(./images/background-yourteam.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display:flex;
    position: relative;
}

.content-yourteam {

    width:50%;
    padding:60px 0 60px 15px;
}

.yourteam-text {

    width:80%;
}

.yourteam-link-apple-google {

    margin-top:2em;
}

.yourteam-link-apple-google a {

    margin-right:20px;
}

/* ------------------- footer ------------------------*/

.footer {

    width: 100%;
    height: 10em;
    background: #00adee;
    display: flex;
    align-items: center;
}

.footer-inner {

    width:80%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-navigation {

    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-menu {

    width: 60%;
    display: flex;
    justify-content: space-around;
}

.navigation-menu a {

    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.32em;
    color: #ffffff;
  
}

.footer-links a {

    padding-left:10px;
}